@import '../node_modules/picnic/picnic.min.css';

h1 {
  font-size: 1.25em;
}

#default {
  width: 400px;
  padding: 4px;
}
#app {
  width: 700px;
}
#info {
  padding: 4px;
  font-size: 14px;
}
#info ul {
  max-height: 240px;
  overflow: auto;
}
#info button {
  width: 100%;
}
#img-container {
  overflow: auto;
  max-height: 280px;
}

.hidden {
  display: none !important;
}
